html {
    font-size: 16px;
    color: yellow;
}

img {
    width: 220px;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 1, 2rem;
    background-color: crimson;
}

h1 {
    font-size: 1, 7rem;
    color: yellow;
}